*{
    text-transform: capitalize;

}
#sem{
    background-color: aqua;
    color: rgb(45, 5, 45);
    border: 2px solid black;

}
h1{
    background-color: yellow;
    

}
h2{
    background-color: rgb(233, 59, 233);
    color: blue;
}